.signin_section{
    height: 767px;
    width: 100%;
}
.signin_section img{
    width: 100%;
    height: 767px;
    overflow: hidden;
    object-fit: cover;
}
.signin_container{
    height: 600px;
    width: 50%;
    background-color: black;
    opacity: .7;
    border-radius: 40px;
    margin-left: 45%;
    position: absolute;
    top: 14%;
}

.signin_container .sign_in{
    text-align: center;
    font-size: 48px;
    color: rgb(79, 164, 254);
}

form .info, form input{
    color: white;
    font-size: 20px;
    margin-left: 15%;
}
form input{
    border-radius: 5px;
    width: 70%;
    opacity: 1;
    color: black;
    font-size: 20px;
    height: 40px;
}
#error{
    font-size: 14px;
    margin-left: 15%;
}
.forget_password{
    font-size: 20px;
    color: white;
    margin-left: 15%;
}
button{
    font-size: 40px;
}
.btn {
    font-size: 20px;
    border-radius: 3px;
    width: 20%;
}
.btn_signup, .btn_signup a{
    color: white;
    font-size: 20px;
}
.btn_signup span{
    color: rgb(79, 164, 254);
}
.btn_signin{
    color: white;
    font-size: 20px;
}
.signin_box{
    text-align: center;
    margin-top: 10px;
}